
*{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color:#000;
}

/*use for all pages--------------------------------------------------------------------------------------------------------------------------*/
h1{
    font-size: 58px;
    font-weight: bold;
}
h2{
    font-size: 48px;
    font-weight: lighter;
}
.contents1{
    font-size: 20px;
    font-weight: lighter;
}
.contents1_bold{
    font-size: 18px;
    font-weight: bold;
}
.contents2{
    font-size: 24px;
}
.contents3{
    font-size: 14px;
    font-weight: 100;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------*/



/*Main page------------------------------------------------------------------------------------------------------------------------*/

.intro_bg{
    /*background-image:url("image/intro.png");*/
    background-image: linear-gradient(#fff,#749c75,#606c38);
    width: 100%;
    /*height: 718px;*/
    height: 400px;
}

.intro_bg1{
    /*background-image:url("image/intro.png");*/
    background-image: linear-gradient(#fff,#ff8585,#961010);
    width: 100%;
    /*height: 718px;*/
    height: 400px;
}
.intro_bg2{
    /*background-image:url("image/intro.png");*/
    background-image: linear-gradient(#fff,#fdff84,rgb(228, 228, 0));
    width: 100%;
    /*height: 718px;*/
    height: 400px;
}
.intro_bg3{
    /*background-image:url("image/intro.png");*/
    background-image: linear-gradient(#fff,#84a5ff,rgb(18, 63, 145));
    width: 100%;
    /*height: 718px;*/
    height: 400px;
}
.intro_bg4{
    /*background-image:url("image/intro.png");*/
    background-image: linear-gradient(#fff,#f691ff,rgb(148, 0, 141));
    width: 100%;
    /*height: 718px;*/
    height: 400px;
}


.header{
    display: flex;
    width: 1280px;
    margin: auto;
    /*background: red;*/
    height: 86px;
}

.search_area{
    width:300px;
    height:40px;
    background: rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-top: 24px;
}

.search_area > form > input{
    border: none;
    width: 235px;
    height: 40px;
    background: rgba(0,0,0,0.0);
    color: black;
    padding-left: 10px;
}

.search_area > form > span{
    width: 50px;
    color: #606c38;
    font-weight: bold;
    cursor: pointer;
}

.nav{
    display: flex;
    justify-content: flex-end;
    line-height: 86px;
    /*width:calc(1280px - 300px);*/
    width: 1280px;
    /*background-color: blue;*/
}

.nav > li{
    margin-left: 60px;
}

.nav > li > a{
    color:#000;
    font-weight: 600;
}

.show_list{
    position: relative;
    top: -66px;
    display: flex;
    width: 1280px;
    background:white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
    margin: auto;
}

.show_list > li{
    flex: 1;
    height: 132px;
    /*background: skyblue;*/
}

.show_list > li > div{
    text-align: center;
    height: 57px;
    margin-top: 37px;
    /*background-color: green;*/
}

.show_list > li:not(:last-child) > div{
    border-right: 1px solid #e1e1e1;
}

.intro_text{
    width: 100%;
    margin: 70px auto auto auto; /* (231px)up right (231down left*/
    /*background-color: red;*/
    text-align: center;
}

.intro_text > h1,
.intro_text > h4{
    color:#000;
}

/* main_text0 */
.main_text0{
    margin-top: 0px;
    width: 100%;
    height: 760px;
    background: #f1f2f3;
}

.main_text0 > h2{
    padding-top: 116px;
    text-align: center;
    /*background: skyblue;*/
}

.main_text0 > .contents1{
    text-align: center;
}

.icons{
    display: flex;
    width:1280px;
    height: 302px;
    /*background: orange;*/
    margin: auto;
}

.icons > li{
    flex: 1;
    height: 302px;
    background: white;
    margin-top: 49px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.icons > li > .icon_img{
    /*margin-top: 36px;*/
    margin-top: 0px;
}

.icons > li:not(:last-child){
    margin-right: 20.6px;
}

.icons > div.contents3{
    width: 180px;
    margin: auto;
}

.more{
    width:100px;
    height: 30px;
    background: #2f7af4;
    color: #fff;
    font-size: 12px;
    line-height: 30px;
    margin: 20px auto;
}

/*main_text1*/
.main_text1{
    width: 100%;
    height: 659px;
}

.main_text1 > h2{
    padding-top: 50px;
    text-align: center;
}

.main_text1 > .contents1{
    text-align: center;
}

.service{
    width: 1280px;
    display: flex;
    margin: 49px auto;
    height: 427px;
    background-color: white;
}

.service > .contents2{
    padding: 20px;
}

.service > .contents2 > h3{
    margin-bottom: 27px;
}

.main_text2{
    width:100%;
}

.main_text2 > ul{
    display: flex;
    /*padding-top: 200px;*/
    background-image: linear-gradient(#fff,#749c75,#606c38);
    height: 418px;
}

.main_text2 > ul > li{
    flex: 1;
    text-align: center;
    padding: 130px;
}

.main_text2 > ul > li:last-child{
    
    padding-top: 0px;
}

.main_text2 > ul > li > div > h1{
    color:black;
}
.main_text2 > ul > li > div{
    color: #1f1f1f;
}

.more2{
    width: 220px;
    height: 40px;
    line-height: 40px;
    margin: 16px auto;
    border: 1px solid #1f1f1f;
    cursor: pointer;
}

footer{
    display: flex;
    background: #1f1f1f;
    padding: 30px;
    bottom: 0px;
}

footer > div:first-child{
    flex: 3;
    text-align: center;
    color: white;
}
footer > div:last-child{
    flex: 9;
    color: white;
}




/*Main page*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*MENU*/

.subtitle0{
    position: relative;
    display: flex;
    width: 1280px;
    background:rgb(61, 49, 49);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
    margin: 20px auto;
    height: 60px;
    background: rgb(226, 231, 233);
}

.subtitle0 > div:first-child{
    flex: 10;
    /*color: white;*/
    padding: 0px 0px 0px 15px;
    margin: auto;
}

.subtitle0 > div:last-child{
    flex: 3;
    /*color: red;*/
}

.subtitle0 > .manage{
    width:100px;
    height: 30px;
    background: #2f7af4;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    /*top, right, bottom, and left*/
    margin: auto 15px auto 500px;
    text-align: center;
}


/*food----------------------------------------------------------------*/

.food0{
    position: relative;
    display: flex;
    width: 1280px;
    background:red;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
    margin: 20px auto;
    height: 40px;
    background: rgb(226, 231, 233);
}

.food0 > div:first-child{
    flex: 1;
    font-size: 10;
    /*color: white;*/
    padding: 0px 0px 0px 15px;
    margin: auto;
}

.food0 > div:last-child{
    flex: 10;
    margin: auto;
    /*color: red;*/
}

.food0 > .food1{
    width:50px;
    height: 30px;
    background: #2f7af4;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    /*top, right, bottom, and left*/
    margin: auto 500px auto 10px;
    text-align: center;
}

.category{
    display: flex;
    width:1280px;
    height: 40px;
    background: #f1f2f3;
    margin: auto;
    color: black;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
}

.category > li {
    flex:1;
}

.category > li:not(:last-child) {
    border-right: 1px solid lightgray;
}

.category > li > .manage{ 
    width: 130px;
    height: 30px;
    background: #2f7af4;
    font-size: 18px;
    margin: 5px auto;
    /*top, right, bottom, and left*/
    text-align: cneter;
    line-height: 26px;
}


table{
    margin:auto;
}

.table_food{
    position: relative;
    display: flex;
    width: 1280px;
    background: #feffd9;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.4);
    margin: auto;
    text-align: center;
}

.table_food > td{
    flex:1;
}
.table_food > td:not(:last-child) {
    border-right: 1px solid lightgray;
}

form{
    position:relative;
    background:#f1f2f3;
    width: 1130px;
    height: 60px;
    font-size: 24px;
    margin: 10px auto;
    line-height: 60px;
    padding-left: 150px;
}


/*-----------Order begin ------------------------------------*/

.category_order{
    display: flex;
    width: 1280px;
    height: 40px;
    background: #f1f2f3;
    margin: auto;
    color: black;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
}

.category_order > li:not(:last-child) {
    border-right: 1px solid lightgray;
    flex:1;
}

.category_order > li:last-child {
    border-right: 1px solid lightgray;
    flex:2;
}



.table_order{
    position: relative;
    display: flex;
    width: 1280px;
    background: hsl(204, 100%, 92%);
    box-shadow: 0px 0px 1px rgba(0,0,0,0.4);
    margin: auto;
    text-align: center;
}

.table_order > td:not(:last-child) {
    border-right: 1px solid lightgray;
    flex:1;
}

.table_order > td:last-child{
    flex:2;
}


/*---------users begin------------------------------------------------*/

.table_users{
    position: relative;
    display: flex;
    width: 1280px;
    background: #fccbff;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.4);
    margin: auto;
    text-align: center;
}

.table_users > td{
    flex:1;
}
.table_users > td:not(:last-child) {
    border-right: 1px solid lightgray;
}

.table_menu{
    position: relative;
    display: flex;
    width: 1280px;
    background: #ffd9d9;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.4);
    margin: auto;
    text-align: center;
}

.table_menu > td{
    flex:1;
}
.table_menu > td:not(:last-child) {
    border-right: 1px solid lightgray;
}