{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="wrap">
            <div class="intro_bg2">
                <div class="header">
                    <div class="search_area">
                        <form>
                            <input type="search" placeholder="Search">
                            <span>Search</span>
                        </form>
                    </div>
                    <ul class="nav">
                        <li><a href="/home">HOME</a></li>
                        <li><a href="/menu">MENU</a></li>
                        <li><a href="/food">FOOD</a></li>
                        <li><a href="/order">ORDER</a></li>
                        <li><a href="/users">USERS</a></li>
                    </ul>
                </div>
                <div class="intro_text">
                    <h1>Food</h1>
                    <h4 class ="contents1"></h4>
                </div>
            </div>



        <!-- Add a table to display all the dishes-->  
        <div class="datatable" id="tableContainer">
            <table>
                <tr>
                    <th>Description</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>

                
                <tr>
                {% for instance in dishes %}
                    <td>{{instance.descrption}}</td>
                    <td>{{instance.name}}</td>
                    <td>{{instance.price}}</td>
                {% endfor %}
                </tr>
                
            </table>          

            <ul class="subtitle0">
                <div>
                    <h2>All Dishes</h2>
                </div>
                <div class="manage"><a href="/food_add">Add Dishes</a></div>
            </ul>

            

            

        </div>
    </body>
</html>