{% load static %}
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="wrap">
            <div class="intro_bg">
                <div class="header">
                    <ul class="nav">
                        <li><a href="/home">HOME</a></li>
                        <li><a href="/menu">MENU</a></li>
                        <li><a href="/food">FOOD</a></li>
                        <li><a href="/order">ORDER</a></li>
                        <li><a href="/users">USERS</a></li>
                        <li><a href="/search">SEARCH</a></li>
                    </ul>
                </div>
                <div class="intro_text">
                    <h1>Chang's Kitchen</h1>
                    <h4 class ="contents1">Local Restaurant in Vietnam</h4>
                </div>
            </div>
            <ul class="show_list">
                <li>
                    <div>
                        <div class="contents1">Facebook</div>
                        <div class="contents2"></div>
                    </div>
                </li>
                <li>
                    <div>
                        <div class="contents1">Instagram</div>
                        <div class="contents2"></div>
                    </div>
                </li>
                <li>
                    <div>
                        <div class="contents1">YouTube</div>
                        <div class="contents2"></div>
                    </div>
                </li>
                <li>
                    <div>
                        <div class="contents1">Mobile App</div>
                        <div class="contents2"></div>
                    </div>
                </li>
            </ul>
            <!--show_list end-->

            <div class="main_text0">
                <h2>MANAGE</h2>
                <div class="contents1"> </div>
            
                <ul class="icons">
                    <li>
                        <div class="icon_img"><a href="/menu"><img src="{% static 'images/menu.png'%}"></a></div>
                        <div class="contents1_bold">MENU</div>
                        <!--div class="contents3">menu menu menu</div-->
                        <!--div class="more"><a href="menu.html">MORE</a></div-->
                    </li>
                    <li>
                        <div class="icon_img"><a href="/food"><img src="{% static 'images/food.png'%}"></a></div>
                        <div class="contents1_bold">FOOD</div>
                        <!--div class="contents3"></div>
                        <!--div class="more"><a href="order.html">MORE</a></div-->
                    </li>
                    <li>
                        <div class="icon_img"><a href="/order"><img src="{% static 'images/order.png'%}"></a></div>
                        <div class="contents1_bold">ORDER</div>
                        <!--div class="contents3"></div>
                        <!--div class="more"><a href="#">MORE</a></div-->
                    </li>
                </ul>
            </div>


            <footer>
                <div>
                    LOGO
                </div>
                <div>
                    Chang's Kitchen
                    <br> Address: Vietnam
                    <br> 1-222-333-4444
                    <br> Copyright &copy;2021 Chang's Kitchen
                    <br> changskitchen@gmail.com
                </div>
            </footer>
        </div>
    </body>
</html>