<!doctype html>
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div class="wrap">
            <div class="intro_bg">
                <div class="header">
                    <div class="search_area">
                        <form>
                            <input type="search" placeholder="Search">
                            <span>Search</span>
                        </form>
                    </div>
                    <ul class="nav">
                        <li><a href="home.html">HOME</a></li>
                        <li><a href="menu.html">MENU</a></li>
                        <li><a href="food.html">FOOD</a></li>
                        <li><a href="order.html">ORDER</a></li>
                        <li><a href="login.html">LOGIN</a></li>
                    </ul>
                </div>
                <div class="intro_text">
                    <h1>Chang's Kitchen</h1>
                    <h4 class ="contents1">Local Restaurant in Vietnam</h4>
                </div>
            </div>
            <ul class="show_list">
                <li>
                    <div>
                        <div class="contents1">Facebook</div>
                        <div class="contents2"></div>
                    </div>
                </li>
                <li>
                    <div>
                        <div class="contents1">Instagram</div>
                        <div class="contents2"></div>
                    </div>
                </li>
                <li>
                    <div>
                        <div class="contents1">YouTube</div>
                        <div class="contents2"></div>
                    </div>
                </li>
                <li>
                    <div>
                        <div class="contents1">Mobile App</div>
                        <div class="contents2"></div>
                    </div>
                </li>
            </ul>
            <!--show_list end-->

            <div class="main_text0">
                <h2>MANAGE</h2>
                <div class="contents1"> </div>
            
                <ul class="icons">
                    <li>
                        <div class="icon_img"><a href="menu.html"><img src="image/menu.png"></a></div>
                        <div class="contents1_bold">MENU</div>
                        <!--div class="contents3">menu menu menu</div-->
                        <!--div class="more"><a href="menu.html">MORE</a></div-->
                    </li>
                    <li>
                        <div class="icon_img"><a href="food.html"><img src="image/food.png"></a></div>
                        <div class="contents1_bold">FOOD</div>
                        <div class="contents3"></div>
                        <!--div class="more"><a href="order.html">MORE</a></div-->
                    </li>
                    <li>
                        <div class="icon_img"><a href="order.html"><img src="image/order.png"></a></div>
                        <div class="contents1_bold">ORDER</div>
                        <div class="contents3"></div>
                        <!--div class="more"><a href="#">MORE</a></div-->
                    </li>
                </ul>
            </div>

            
            <!--div class="main_text1">
                <h2>SERVICE</h2>
                <div class="contents1">weekly menu</div>
                <div class="service">
                    <div class='food_photo'>
                        <img src="image/food.png">
                    </div>
                    <div class="contents2">
                        <h3>Food Name</h3>
                        
                        Food Explain Food Explain Food Explain Food Explain 
                        <br> Food Explain Food Explain Food Explain Food Explain 
                        <br> Food Explain Food Explain Food Explain Food Explain 
                        <br> Food Explain Food Explain Food Explain Food Explain 
                        <br>
                        <br> Food Explain Food Explain Food Explain Food Explain 
                        <br> Food Explain Food Explain Food Explain Food Explain
                    </div>
                </div>
            </div-->
            

            <!--div class="main_text2">
                <ul>
                    <li>
                        <div><h1>CONTACT</h1></div>
                        <div>1-222-333-4444</div>
                        <div class="more2">
                            MORE
                        </div>
                    </li>
                    <li>
                        <h3>Map</h3>
                        <p>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d186038.2894759452!2d-89.4109764!3d43.2336407!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8806fe97e9e792b5%3A0x79232468720208a!2sChang%20Jiang!5e0!3m2!1sen!2skr!4v1618226987237!5m2!1sen!2skr" 
                            width="450" height="377.5" style="border:1px;" allowfullscreen="" loading="lazy">
                            </iframe>
                        </p>
                    </li>
                </ul>
            </div-->
            <footer>
                <div>
                    LOGO
                </div>
                <div>
                    Chang's Kitchen
                    <br> Address: Vietnam
                    <br> 1-222-333-4444
                    <br> Copyright &copy;2021 Chang's Kitchen
                    <br> changskitchen@gmail.com
                </div>
            </footer>
        </div>
    </body>
</html>