{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="wrap">
            <div class="intro_bg1">
                <div class="header">
                    <div class="search_area">
                        <form>
                            <input type="search" placeholder="Search">
                            <span>Search</span>
                        </form>
                    </div>
                    <ul class="nav">
                        <li><a href="/home">HOME</a></li>
                        <li><a href="/menu">MENU</a></li>
                        <li><a href="/food">FOOD</a></li>
                        <li><a href="/order">ORDER</a></li>
                        <li><a href="/users">USERS</a></li>
                    </ul>
                </div>
                <div class="intro_text">
                    <h1>Menu</h1>
                    <h4 class ="contents1"></h4>
                </div>
            </div>

            <ul class="subtitle0">
                <div>
                    <h2>Add Menu</h2>
                </div>
                <div class="manage"><a href="menu_add.html">Manage</a></div>
            </ul>

            <ul class="subtitle0">
                <div>
                    <h2> Menu</h2>
                </div>
                <!--div class="manage"><a href="menu_add.html">Add</a></div-->
            </ul>


            <!--footer>
            Insert table, this is tricky    
            </footer-->


        </div>
    </body>
</html>