{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="wrap">
            <div class="intro_bg2">
                <div class="header">
                    <ul class="nav">
                        <li><a href="/home">HOME</a></li>
                        <li><a href="/menu">MENU</a></li>
                        <li><a href="/food">FOOD</a></li>
                        <li><a href="/order">ORDER</a></li>
                        <li><a href="/users">USERS</a></li>
                        <li><a href="/search">SEARCH</a></li>
                    </ul>
                </div>
                <div class="intro_text">
                    <h1>Delete Menu</h1>
                    <h4 class ="contents1"></h4>
                </div>
            </div>


			<form method="post" action="">
				{% csrf_token %}
				<input type="date" placeholder="Enter Nmae name to delete"  name="date" id="date">
                <input type="submit" value="date">
            </form>

        </div>

    </body>
</html>