<!doctype html>
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div class="wrap">
            <div class="intro_bg1">
                <div class="header">
                    <div class="search_area">
                        <form>
                            <input type="search" placeholder="Search">
                            <span>Search</span>
                        </form>
                    </div>
                    <ul class="nav">
                        <li><a href="home.html">HOME</a></li>
                        <li><a href="menu.html">MENU</a></li>
                        <li><a href="food.html">FOOD</a></li>
                        <li><a href="order.html">ORDER</a></li>
                        <li><a href="login.html">LOGIN</a></li>
                    </ul>
                </div>
                <div class="intro_text">
                    <h1>Menu</h1>
                    <h4 class ="contents1"></h4>
                </div>
            </div>

            <ul class="subtitle0">
                <div>
                    <h2>Today's Menu</h2>
                </div>
                <div class="manage"><a href="menu_manage.html">Manage</a></div>
            </ul>

            <br>
            <br>
            <ul class="subtitle0">
                <div>
                    <h2>Future Menu</h2>
                </div>
                <!--div class="manage"><a href="menu_add.html">Add</a></div-->
            </ul>

            


            <!--footer>
                <div>
                    LOGO
                </div>
                <div>
                    Chang's Kitchen
                    <br> Address: Beloit WI
                    <br> 1-222-333-4444
                    <br> Copyright &copy;2021 Chang's Kitchen
                    <br> changskitchen@gmail.com
                </div>
            </footer-->


        </div>
    </body>
</html>