{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="wrap">
            <div class="intro_bg3">
                <div class="header">
                    <div class="searchbar">
                        <form method="GET" action="" id="searchform">
                          <input class="searchfield" id="searchbox" name="q" type="text" value="{{ request.GET.q }}" placeholder="Search..."/>
                          <button type = "submit" name = "search"> SEARCH </button>
                        </form>
                    </div>
                    <ul class="nav">
                        <li><a href="/home">HOME</a></li>
                        <li><a href="/menu">MENU</a></li>
                        <li><a href="/food">FOOD</a></li>
                        <li><a href="/order">ORDER</a></li>
                        <li><a href="/users">USERS</a></li>
                    </ul>
                </div>
                <div class="intro_text">
                    <h1>Order</h1>
                    <h4 class ="contents1"></h4>
                </div>
            </div>



        </div>
        <div class="datatable" id="tableContainer">
            <table>
                <tr>
                    <th>Date</th>
                    <th>Final Price</th>
                    <th>Item</th>
                    <th>Status </th>
                    <th>String Data</th>
                    <th>Summary</th>
                    <th>Summary Price</th>
                    <th>Tax</th>
                    <th>Tip</th>
                    <th>User Id</th>
                </tr>

                {% for order in comb_list %}

                <tr>
                    <td>{{order.date}}</td>
                    <td>{{order.finalPrice}}</td>
                    <td>{{order.items}}</td>
                    <td>{{order.status}}</td>
                    <td>{{order.stringDate}}</td>
                    <td>{{order.summary}}</td>
                    <td>{{order.cost}}</td>
                    <td>{{order.tax}}</td>
                    <td>{{order.tip}}</td>
                    <td>{{order.uid}}</td>
                </tr>

                {% endfor %}
                
            </table>
        
    </body>
</html>