{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="wrap">
            <div class="intro_bg3">
                <div class="header">
                    <ul class="nav">
                        <li><a href="/home">HOME</a></li>
                        <li><a href="/menu">MENU</a></li>
                        <li><a href="/food">FOOD</a></li>
                        <li><a href="/order">ORDER</a></li>
                        <li><a href="/users">USERS</a></li>
                        <li><a href="/search">SEARCH</a></li>
                        <li><a href="/query">ANALYTICS</a></li>
                    </ul>
                </div>
                <div class="intro_text">
                    <h1>Order</h1>
                    <h4 class ="contents1"></h4>
                </div>
            </div>



        </div>
        <div class="datatable" id="tableContainer">
            <table>
                <br>
                <div class ="category_order">
                    <li>Id</li>
                    <li>Date</li>
                    <li>Items</li>
                    <li>Status</li>
                    <li>Price</li>
                    <li>Tax</li>
                    <li>Tip</li>
                    <li>Final Price</li>
                    <li>User</li>
                    <li></li>
                </div>

                {% for order in comb_list %}

                <tr class = "table_order">
                    <td id = 'id'>{{order.orderId}}</td>
                    <td>{{order.stringDate}}</td>
                    <td>{{order.items}}</td>
                    <td id = {{order.orderId}} contenteditable='true'> {{order.status}}</td>
                    <td>{{order.cost}}</td>
                    <td>{{order.tax}}</td>
                    <td>{{order.tip}}</td>
                    <td>{{order.finalPrice}}</td>
                    <td>{{order.uid}}</td>
                    <td><button id = 'save' onclick="saveQuestionAnswer('{{order.orderId}}')">Save</button></td>
                </tr>

                {% endfor %}
                
            </table>
        
            <script>            
            function saveQuestionAnswer(id) {
                var status= document.getElementById(id).innerHTML;
                var csrftoken = getCookie('csrftoken');
                var data = {"id": id, "status": status}
                console.log(data)
                fetch('/order/', { 
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            "X-CSRFToken": csrftoken,
                        },
                        body: JSON.stringify(data),
                        credentials: 'same-origin',
                    })
                    .then(response => response.text())
                }

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            </script>
    </body>
</html>