{% load static %}
<html lang="en">
<head>
	<title>User's List</title>
	<link rel='stylesheet' href="{% static '/css/style.css' %}">
</head>
<body>
	<div class="tm-container">
        <div class="header">
        </div>
        <ul class="nav">
            <li><a href="/home">HOME</a></li>
            <li><a href="/menu">MENU</a></li>
            <li><a href="/food">FOOD</a></li>
            <li><a href="/order">ORDER</a></li>
            <li><a href="/users">USERS</a></li>
            <li><a href="/search">SEARCH</a></li>
        </ul>
    </div>
		<div class="tm-main-content">
			<table>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Phone </th>
                    <th>User ID</th>
                </tr>

                
                {% for user in comb_list %}

                <tr>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.password}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.uid}}</td>
                </tr>

                {% endfor %}
                
            </table>
		</div>
		<br>
	</div>
</body>
</html>
