{% load static %}
<html lang="en">
<head>
	<title>User's List</title>
	<link rel='stylesheet' href="{% static '/css/style.css' %}">
</head>
<body>
	<div class="tm-container">
		<div class="tm-main-content">
			<section class="tm-section tm-section-small text-center">
			<!--Showng all the details we retrieved Here-->
			<div class="datatable" id="tableContainer">
				<table>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Price</th>
					</tr>
	
	
					{% for food in comb_list %}
	
					<tr>
						<td>{{food.name}}</td>
						<td>{{food.description}}</td>
						<td>{{food.price}}</td>
					</tr>
	
					{% endfor %}
					
				</table>    
			</section>
		</div>
		<br>
	</div>
</body>
</html>
