{% load static %}
<html lang="en">
<head>
	<title>Search Page</title>
	<link rel="stylesheet" type="text/css" href="{%static '/css/style.css' %}">
</head>
<body>
	<div class="container">
		<div class="inner">
			<form method="post" action="/searchusers/">
			{% csrf_token %}
			<!--Type the name you want to search and click on submit-->
			<input type="text" placeholder="Enter Title..." aria-label="Search.." name="search"
				id="search">
			<select name="category" id="category" name="">
				<option value="">Select Category</option>
				<!--select type to user-->
				<option value="Users">Users</option>
				<option value="Dishes">Dishes</option>
			</select>
			<input type="submit" value="Find">
			</form>
		</div>
	</div>
</body>
</html>
